div {
  background-color: aliceblue;
  padding: 5%;
  border: 2px solid black;
}

button {
  margin: 2%;
  padding: 1%;
  border: 2px solid black;
  width: 80px;
}

.save:hover {
  background-color: rgb(42, 128, 42);
}
